/*-------------Boilerplate CSS------------*/


html, body {
	padding: 0px;
	margin: 0px;
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, p{
    text-decoration-style: none;
	padding: 0px;
	margin: 0px;
}


/*-------------Boilerplate CSS------------*/

/*General*/


/*Nav Bar*/
.header-left li{
    float: left;
    display: block;
    padding: 8px;
}

.header-right li{
    float: right;
    display: block;
    padding: 8px;
}

/*Search Section*/
